*.tar
/Code/review.json
/Code/review.json.gz
/Code/review10.json
/Dataset/dataset/business.json
/Dataset/dataset/checkin.json
/Dataset/dataset/Dataset_Challenge_Dataset_Agreement.pdf
/Dataset/dataset/photos.json
/Dataset/dataset/review.json.gz
/Dataset/dataset/tip.json
/Dataset/dataset/user.json
/Dataset/dataset/Yelp_Dataset_Challenge_Round_11.pdf
*.sql
/Code/__pycache__
/Code/.fuse_hidden0000016e0000001d
/Code/.idea
/Analisi/000/Model0.pdf
/Analisi/001/Model1 copia.numbers
/Analisi/001/Model1-Analisi.numbers
/Analisi/001/Model1-compact.pdf
/Analisi/001/Model1-Dettagli.pdf
/Analisi/001/Model1.numbers
/Analisi/001/Model1.pages
/Analisi/001/Model1.pdf
/Analisi/002/.DS_Store
/Analisi/002/Model2-compact.pdf
/Analisi/002/Model2-Dettagli.pages
/Analisi/002/Model2-Dettagli.pdf
/Analisi/002/Model2.numbers
/Analisi/002/Model2.pdf
/Analisi/003/Model3.numbers
/Analisi/003/Model3.pdf
/Analisi/005/Model3-Dettagli.pages
/Analisi/005/Model3-Dettagli.pdf
/Analisi/005/Model5.numbers
/Analisi/005/Model5.pdf
/Analisi/006/.DS_Store
/Analisi/006/Model6.numbers
/Analisi/006/Model6.pdf
/Analisi/Stage.pages
/Documents/Book/BOOK - 2018 - Machine Learning Yearning 1.pdf
/Documents/Book/BOOK - 2018 - Machine Learning Yearning 2.pdf
/Documents/Book/BOOK - 2018 - Machine Learning Yearning 3.pdf
/Documents/Book/BOOK - 2018 - Machine Learning Yearning 4.pdf
/Documents/Papers/2016 - Paper - A Primer on Neural Network Models for Natural Language Processing.pdf
/glove.pdf
/ocean.numbers
/prediction_model1_.numbers
/Tesi/Frontespizio.aux
/Tesi/Frontespizio.log
/Tesi/Frontespizio.pdf
/Tesi/Frontespizio.synctex.gz
/Tesi/Frontespizio.tex
/Tesi/frontespiziorelazionefinale20172018.docx
/Tesi/LogoUnimib-eps-converted-to.pdf
/Tesi/LogoUnimib.eps
/Tesi/ModelloFrontespizio.aux
/Tesi/ModelloFrontespizio.log
/Tesi/ModelloFrontespizio.pdf
/Tesi/ModelloFrontespizio.synctex.gz
/Tesi/ModelloFrontespizio.tex
